/* 
h1 { font-family: Megrim; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } h3 { font-family: Megrim; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Megrim; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Megrim; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Megrim; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
 */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> navbar css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* navbar color */
.nav-color {
    background-color: #ffbc62;
    color: #ffffff;
    height: 45px;
}

.tiny-VR-logo {
    height: 30px;
    width: 30px;
    margin: 5px;
}


.nav-link {
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Megrim', cursive;
    font-size: 20px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Body CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* body {
    background-image: url("triangle-mosaic.png");
} */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> Jumbotron css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


.jumbotron {
    background-color:  #f7e3c4;
    color: #333333;
    text-align: center;
    margin: 30px;
}

#jumbo-title {
    font-family: 'Megrim', cursive;
    font-size: 70px; 
    line-height: 50px; 
}

.radio-img {
    height: 350px;
    width: 350px;
    /* margin-top: 5px; */
    /* margin-bottom: 15px; */
}

#jumbo-subhead {
    font-family: 'Athiti', sans-serif;
    font-size: 30px; 
    line-height: 36px;
}

#vibrantInRainbow {
    font-family: 'Megrim', cursive;
    font-size: 30px; 
    line-height: 36px;
}


#right-jumbo-col {
    color: #ffffff;
    margin: auto;
}

#left-jumbo-col {
    color: #ffffff;
    margin: auto;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> Spotify css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.spotify-parent {
    background-color: rgba(152,220,210, 0.8);
    padding: 30px;
    margin: 15px;
    border: 2px;
    border-radius: 25px;
    
}

#listenAppleImg {
    width: 200px;
    margin: 10px;
}

#listenGoogleImg {
    width: 200px;
    margin: 10px;
}

#listenSpotifyImg {
    width: 200px;
    margin: 10px;
}

#spotify-title-1 {
    font-family: 'Over the Rainbow', cursive;
    font-size: 44px;
    text-align: center;
    color: #333333;
}
#spotify-title-2 {
    font-family: 'Athiti', sans-serif;
    font-size: 36px;
    text-align: center;
    color: #333333;
    line-height: 44px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> Guide and Insta css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.about-and-insta-parent {
    padding: 30px;
    margin: 30px;
    background-color:  #f7e3c4;
    border-radius: 5px;
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> GUIDE col css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#col-guide {
    padding: 10px;
    background-color: #98dcd2;
    font-family: 'Athiti', sans-serif;
    color: #333333;
    text-align: center;
    margin-top: 30PX;
    border: 2px;
    border-radius: 25px;
}

#guideHomeImg {
    height: 250px;
    width: 250px;
}

#guide-title {
    font-family: 'Over the Rainbow', cursive;
    color: #333333;
    font-size: 44px;
}

#isThisYou {
    font-family: 'Over the Rainbow', cursive;
    color: #333333;
    font-size: 24px;
    text-align: left;
}


#guide-text {
    font-family: 'Athiti', sans-serif;
    color: #333333;
    font-size: 24px;
}

#guideQuestionList {
    text-align: left;
    font-size: 24px;
}

#guide-created-bc {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 24px;
    color: #333333;
}


#guide-list {
    color: #333333;
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
}


.btn {
    background-color: #ffbc62;
    color: #ffffff; 
    outline: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #99ddd2;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> INSTA col css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

#col-insta {
    padding: 10px;
    background-color: #98dcd2;
    color: #333333;
    margin-top: 30PX;
    border: 2px;
    border-radius: 25px;
    text-align: center;
    align-content: center;
}

#insta-title {
    font-family: 'Over the Rainbow', cursive;
    font-size: 44px;
    color: #333333;
    text-align: center;

}

#insta-text {
    font-family: 'Athiti', sans-serif;
    color: #333333;
    font-size: 24px;
    text-align: center;
}

#instaDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;
}

.instagram-media {
    margin: auto;
    text-align: center;
    align-content: center;
}

#instaEmbedDiv {
    margin: auto;
    text-align: center;
    align-content: center;
}

.bottom-div {
    background-color: #ffffff;
    padding: 30px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> CONTACT PAGE CSS
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contact-parent {
    background-color: #f7e3c4;
    padding: 30px;
    margin: 10px;
}

#jumbo-title-contact {
    font-family: 'Over the Rainbow', cursive;
    font-size: 70px; 
    line-height: 50px; 
}

#guide-contact {
    height: 200px;
    width: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#radio-contact {
    height: 200px;
    width: 200px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-title {
    font-family: 'Megrim', cursive;
    font-size: 50px;
    text-align: center;
    color: #ffffff;
}

#contact-center-text {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}

#broughtToYou {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #333333;
}

#contactBrightLightHealth {
    font-family: 'Megrim', cursive;
    font-size: 30px;
    text-align: center;
    color: #333333;
    margin-bottom: 15px;
}

#contactDetailsDiv {
    font-family: 'Athiti', sans-serif;
    text-align: center;
    font-size: 20px;
    color: #333333;
    line-height: 30px;
}

/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

  /* MOBILE RESPONSIVE STACK COLS AT CERTAIN WIDTH BC INSTA EMBED IS GOING OUTSIDE PARENT */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> footer */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*  */
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    height: 75px;
    background-color: #ffbc62;
    padding: 10px;
    border-top: 8px solid #ffffff;
    border-color: #ffffff;
    text-align: center;
    font-family: 'Athiti', sans-serif;
    margin-top: 30px;
  }

  .footer-credit {
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
    text-align: right;
  }

