/* 
h1 { font-family: Megrim; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 24px; } h3 { font-family: Megrim; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Megrim; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Megrim; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Megrim; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }
 */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> navbar css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* navbar color */
.nav-color {
    background-color: #53bba5;
    color: #ffffff;
}

.nav-link {
    color: #ffffff;
    font-family: 'Athiti', sans-serif;
}

.navbar-brand {
    color: #ffffff;
    font-family: 'Megrim', cursive;
}

.jumbotron {
    background-color:  #53bba5;
    color: #ffffff;
    text-align: center;
    margin: 15px;
}
#jumbo-title {
    font-family: 'Megrim', cursive;
    font-size: 40px; 
    line-height: 26.4px; 
}

#jumbo-subhead {
    font-family: 'Athiti', sans-serif;
    font-size: 24px; 
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* Body CSS */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* body {
    background-image: url("triangle-mosaic.png");
} */

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> Jumbotron css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.btn {
    background-color: #98dcd2;
    color: #ffffff; 
    outline: none;
    border-radius: 12px;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: #99ddd2;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);

}

.radio-img {
    height: 250px;
    width: 250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#right-jumbo-col {
    color: #ffffff
}

#left-jumbo-col {
    color: #ffffff
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> Spotify css */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.spotify-parent {
    background-color: rgba(152,220,210, 0.8);
    padding: 30px;
    margin: 15px;
    border: 2px;
    border-radius: 25px;
    
}

.spotify-title {
    font-family: 'Athiti', sans-serif;
    font-size: 20px;
    text-align: center;
    color:  #ffffff;
}


.about-and-insta-parent {
    padding: 30px;
    margin: 15px;
    background-color: #53bba5;
    border-radius: 5px;
}


.col-md-5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: center;
}
#col-guide {
    padding: 10px;
    background-color:  #f7e3c4;
    color:  #ffffff;
    margin-top: 30PX;
    border: 2px;
    border-radius: 25px;
}

#guide-title {
color: #000000;
font-size: 20px;
}

#guide-text {
    color: #797979;
    font-size: 14px;
}

#guide-learn {
    color: #797979;
    font-size: 14px;
}

#guide-list {
    color: #797979;
}


#col-insta {
    padding: 10px;
    background-color: #ffbc62;
    color:  #ffffff;
    margin-top: 30PX;
    border: 2px;
    border-radius: 25px;
}

#insta-title {
    color: #ffffff;
    font-size: 20px;
    /* margin-bottom: 10px; */
}

.bottom-div {
    background-color: #ffffff;
    padding: 30px;
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> CONTACT PAGE CSS
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.contact-parent {
    background-color: #f7e3c4;
    padding: 30px;
    margin: 10px;
}

.contact-title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    color: #53BAA5;
}


/*  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!  */

  /* MOBILE RESPONSIVE STACK COLS AT CERTAIN WIDTH BC INSTA EMBED IS GOING OUTSIDE PARENT */



/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>> footer */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/*  */
footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    color: #ffffff;
    height: 75px;
    background-color:#ffbc62;
    padding: 10px;
    border-top: 8px solid #ffffff;
    border-color: #ffffff;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    margin-top: 30px;
  }

  .footer-credit {
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-align: right;
  }

